/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

/* main styles */
.post-container {
  height: 1080px;
  width: 1080px;
  margin: 0 auto;
}

.logo {
  margin-left: 56px;
  margin-top: 38px;
  position: absolute;
  top: 0;
  width: 200px;
}
.logo img {
  height: 40px;
  width: 100%;
}

.logo-and-image-area {
  height: 810px;
  position: relative;
}

.background-image-area {
  height: 770px;
  width: 1080px;
  margin-top: 40px;
  padding-top: 52px;
  padding-bottom: 62px;
  position: absolute;
  top: 0;
}

/* Please place the background image named as background-image in the images folder. Please change the ".jpg" to ".png", if the image format is png */
.background-image {
  background-image: url('../images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 656px;
  position: relative;
}

/* curve top styles */
.curve-image-top {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.curve-imgae-top svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 235px;
}

/* curve bottom styles */
.curve-image-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 40px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.curve-image-bottom svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 235px;
}

.sub-heading-text {
  color: #172351;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  margin-top: 35px;
  text-align: center;
}
.heading-text {
  color: #60636c;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}
.call-to-action-button {
  border: none;
  background-color: #60636c;
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  position: relative;
  width: 100%;
}
.call-to-action-button i {
  font-size: 30px;
  margin-right: 25px;
  position: absolute;
  right: 0;
  top: 25px;
}
